*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:'Poppins',sans-serif;

  background:#020617;

  color:white;

  min-height:100vh;

  overflow-x:hidden;
}

/* APP */

.app{

  padding:20px 15px 120px;
}

/* PÁGINAS */

.pagina{
  display:none;
}

.pagina.ativa{
  display:block;
}

/* LOGO */

.logo{

  width:130px;

  border-radius:20px;

  display:block;

  margin:20px auto;
}

/* TÍTULOS */

h1,h2{

  text-align:center;

  margin-bottom:20px;
}

/* RELÓGIO */

.relogio-box{

  text-align:center;

  margin-bottom:30px;
}

.relogio{

  font-size:38px;

  font-weight:bold;

  color:#38bdf8;

  text-shadow:
    0 0 15px
    rgba(56,189,248,0.7);

  animation:pulse 1s infinite;
}

.data{

  color:#94a3b8;

  margin-top:10px;
}

/* PESQUISA */

.search-box{

  margin-bottom:30px;
}

.pesquisa{

  width:100%;

  padding:15px;

  border:none;

  border-radius:16px;

  font-size:16px;
}

.search-btn{

  width:100%;

  padding:15px;

  margin-top:12px;

  border:none;

  border-radius:16px;

  background:#38bdf8;

  color:white;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;
}

/* VIDEO */

.video-card{

  background:#111827;

  padding:15px;

  border-radius:20px;

  margin-bottom:25px;
}

.video-card iframe{

  width:100%;

  height:220px;

  border:none;

  border-radius:14px;
}

.video-card h3{

  margin-top:15px;
}

/* BOTÕES */

.btn{

  display:block;

  width:100%;

  padding:16px;

  border-radius:18px;

  text-align:center;

  text-decoration:none;

  color:white;

  font-weight:bold;

  margin-bottom:18px;
}

.whatsapp{
  background:#25D366;
}

.facebook{
  background:#1877F2;
}

.telegram{
  background:#229ED9;
}

/* TEXTO */

p{

  text-align:center;

  color:#cbd5e1;

  line-height:1.7;

  margin-bottom:20px;
}

/* MENU */

.bottom-bar{

  position:fixed;

  bottom:0;

  width:100%;

  height:80px;

  background:#0f172a;

  display:flex;

  justify-content:space-around;

  align-items:center;

  border-top:
    1px solid rgba(255,255,255,0.1);
}

.bottom-bar button{

  background:none;

  border:none;

  color:white;

  display:flex;

  flex-direction:column;

  align-items:center;

  font-size:22px;

  cursor:pointer;
}

.bottom-bar span{

  font-size:12px;

  margin-top:4px;
}

/* FOOTER */

footer{

  text-align:center;

  color:#64748b;

  font-size:12px;

  margin-bottom:95px;
}

/* ANIMAÇÃO */

@keyframes pulse{

  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.03);
  }

  100%{
    transform:scale(1);
  }

}